<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>






  <div id="app">

    <form action="" @submit.prevent="sendForm">


      <h4>input text</h4>
      <input type="text" v-model="inputtext">

      <h4>textarea</h4>
      <textarea name="" v-model="inputtext"></textarea>


      <h4>radio button</h4>
      <input type="radio" id="choose1" value="radio1" v-model="inputRadioValu"><label for="choose1">choose 1</label>
      <input type="radio" id="choose2" value="radio2" v-model="inputRadioValu"><label for="choose2">choose 2</label>




      <h4>Checkboxes</h4>
      <input type="checkbox" id="choose3" value="" v-model="inputCheckboxValu"><label for="choose3">checkbox 1</label>



      <h4>Checkboxes Array (must have value)</h4>
      <input type="checkbox" id="choose5" value="checkbox5" v-model="inputCheckbox2Valu"><label for="choose5">checkbox
        5</label>
      <input type="checkbox" id="choose6" value="checkbox6" v-model="inputCheckbox2Valu"><label for="choose6">checkbox
        6</label>
      <input type="checkbox" id="choose7" value="checkbox7" v-model="inputCheckbox2Valu"><label for="choose7">checkbox
        7</label>



      <h4>Select</h4>
      <select name="" id="" v-model="selectInput">
        <option value="option-1">option-1</option>
        <option value="option-2">option-2</option>
        <option value="option-3">option-3</option>
      </select>


      <h4>Multi Select</h4>
      <select name="" id="" v-model="selectInputMulti" multiple="multiple">
        <option value="option-1">option-1</option>
        <option value="option-2">option-2</option>
        <option value="option-3">option-3</option>
      </select>


      <h4>Dynamic Select</h4>
      <select name="" id="" v-model="selectInputDynamic">
        <option v-for="option in dynamicSelect" :value="option.value">{{option.label}}</option>
      </select>


      <h4>Form Modifiers (lazy, number, trim, compine)</h4>
      <input type="text" v-model.lazy="lazeMod">
      {{lazeMod}}

      <br><br>
      <input type="text" v-model.number="numberMod">
      {{numberMod}} {{`type is ${typeof numberMod}`}}

      <br><br>
      <input type="text" v-model="trimmedInput">
      {{trimMod}}


      <br><br>
      <input type="text" v-model.number.lazy="numberModLaze">
      {{numberModLaze}} {{`type is ${typeof numberModLaze}`}}


      <br><br>
      <h5>Input (onchange, inputchange)</h5>
      <input type="text" @input="InputChange" @change="changeInput"> <br>
      {{`Onchange = > ${onChangeValue} `}} <br>
      {{`inputChange = > ${inputChangeValue} `}} <br>

      <br><br>
      <select @change="SelectChange">
        <option value="">one</option>
        <option value="">tow</option>
      </select>



      <button  type="submit">Submit</button>
    </form>

  </div>





  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

  <script>
    new Vue({
      el: "#app",
      created() {
        if (this.dynamicSelect.length > 0) {
          this.selectInputDynamic = this.dynamicSelect[0].value;
        }
      },
      data: {
        inputtext: "omar",
        inputRadioValu: "",
        inputCheckboxValu: "",
        inputCheckbox2Valu: ["checkbox5", "checkbox6"],
        selectInput: "option-3",
        selectInputMulti: ["option-1", "option-2"],
        dynamicSelect: [{
            value: "option1",
            label: "First"
          },
          {
            value: "option2",
            label: "Second"
          },
          {
            value: "option3",
            label: "Third"
          }
        ],
        selectInputDynamic: "",
        lazeMod: "",
        numberMod: "",
        trimMod: "",
        numberModLaze:"",
        onChangeValue: "",
        inputChangeValue: "",
      },
      computed: {
        trimmedInput: {
          get() {
            return this.trimMod.trim();
          },
          set(value) {
            this.trimMod = value;
          }
        }
      },
      methods: {
        changeInput: function(e){
          this.onChangeValue = e.target.value;
        },
        InputChange: function(e){
          this.inputChangeValue = e.target.value;
        },
        SelectChange:function(){
          console.log("select change")
        },
        sendForm:function(){
          console.log("send form")
        }
      }
    })
  </script>

</body>

</html>